/* https://assets.ipcow.com/fonts/fonts.css */

/* Google Sans Code - 400 */
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google-sans-code-400.woff2") format("woff2");
}

/* Fira Code - 400 */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/fira-code-400.woff2") format("woff2");
}

/* Fredericka the Great - 400 */
@font-face {
  font-family: "Fredericka the Great";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/fredericka-the-great-400.woff2") format("woff2");
}
